Image_caption_generator\Flickr8k_Dataset
Image_caption_generator\Flickr8k_text
Modern_Standard_Arabic_Abstractive_Summarization\AIC- 1\
Modern_Standard_Arabic_Abstractive_Summarization\WorkSpace\Datasets
Image_caption_generator/Flickr8k_Dataset/
Image_caption_generator/Flickr8k_text/
Modern_Standard_Arabic_Abstractive_Summarization/AIC- 1/
Modern_Standard_Arabic_Abstractive_Summarization/WorkSpace/Datasets/